* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-gag.err.twol -text
/apertium-gag.gag.lexc -text
/apertium-gag.gag.rlx -text
/apertium-gag.gag.twol -text
/apertium-gag.pc.in -text
/apertium-gag.post-gag.dix -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/spellrelax.twol -text
dev/verbs/Makefile -text
dev/verbs/verbs.lexc -text
/gag.prob -text svneol=unset#unset
/modes.xml -text
tests/future.tsv -text
tests/genitive.tsv -text
tests/possessives.tsv -text
tests/test.py -text
texts/aorpre.txt -text
texts/sentences.txt -text
texts/verbal.txt -text
